examples/query-binding/check-orders-1.sch

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://purl.oclc.org/dsdl/schematron" schematronEdition="2025"  
  queryBinding="xslt3"> 
  <ns prefix="xs" uri="http://www.w3.org/2001/XMLSchema"/>
  
  <group>
    <rule context="ordered-item">
      <let name="item-id" as="xs:string" value="@id-ref"/>
      <assert test="exists(/*/item[@id eq $item-id])">
        The referenced item <value-of select="$item-id"/> does not exist
      </assert>
    </rule>
  </group>
  
</schema>
